*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    background-color: #FCFCFD;
}

.col-xl-12{
    background-color: black !important;
}